/obj/
*.o
/compilador
*.exe
*.out
*.app

*.log
*.err
gmon.out
/docs/*.aux
/docs/*.log
/docs/*.synctex.gz
/docs/*.fls
/docs/*.fdb_latexmk

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


*.zip
*.tar.gz
*.rar
*.7z